{% extends 'core/base.html' %}

{% block content %}
    <h1>{{ product.name }} added to basket</h1>
    <a href="{% url 'index' %}">Back to products</a>

    <div style="position: absolute; top: 20px; right: 150px">
        <a href="{% url 'index' %}">Products List</a>
    </div>
    <div style="position: absolute; top: 20px; right: 85px">
        <a href="{% url 'basket' %}">Basket</a>
    </div>
    <div style="position: absolute; top: 20px; right: 20px">
        <a href="{% url 'shopper' %}">Profile</a>
    </div>
{% endblock %}