{% extends 'core/base.html' %}

{% block content %}
    <h1>Order placed (id: {{ order.id }})</h1>
    <h3>You ordered:</h3>
    <ul>
        {% for purch in order.purchase_set.all %}
            <li>{{ purch.quantity }} {{ purch.product.name }}</li>
        {% endfor %}
    </ul>
    <h4>Total price: {{ order.total_price }} cents</h4>

    <div style="position: absolute; top: 20px; right: 150px">
        <a href="{% url 'index' %}">Products List</a>
    </div>
    <div style="position: absolute; top: 20px; right: 85px">
        <a href="{% url 'basket' %}">Basket</a>
    </div>
    <div style="position: absolute; top: 20px; right: 20px">
        <a href="{% url 'shopper' %}">Profile</a>
    </div>
{% endblock %}